In [7]:
import pandas as pd

In [1]:
! pip install alpha_vantage

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting alpha_vantage
  Downloading alpha_vantage-2.3.1-py3-none-any.whl (31 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from alpha_vantage) (2.27.1)
Collecting aiohttp
  Downloading aiohttp-3.8.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 11.6 MB/s eta 0:00:00
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.8.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (264 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 264.6/264.6 kB 8.7 MB/s eta 0:00:00
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->alpha_vantage) (23.1.0)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.2/114.2 kB 4.4 MB/s eta 0:00:00
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.3-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (158 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 158.8/158.8 kB 6.6 MB/s eta 0:00:00
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Requirement already satisfied: charset-normalizer<4.0,>=2.0 in /usr/local/lib/python3.9/dist-packages (from aiohttp->alpha_vantage) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->alpha_vantage) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->alpha_vantage) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->alpha_vantage) (1.26.15)
Installing collected packages: multidict, frozenlist, async-timeout, yarl, aiosignal, aiohttp, alpha_vantage
Successfully installed aiohttp-3.8.4 aiosignal-1.3.1 alpha_vantage-2.3.1 async-timeout-4.0.2 frozenlist-1.3.3 multidict-6.0.4 yarl-1.8.2

In [2]:
from alpha_vantage.timeseries import TimeSeries

In [3]:
key='R9UYE8ZUY92XLTUM'

In [4]:
ts = TimeSeries(key=key,output_format='pandas')

In [5]:
find='SPY'

In [6]:
data, meta_data = ts.get_daily_adjusted(symbol=find, outputsize='full')

In [8]:
data

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
date,,,,,,,,
2023-04-20,411.210000,413.700000,410.270000,411.880000,411.880000,75840359.0,0.0,1.0
2023-04-19,412.220000,415.080000,412.160000,414.140000,414.140000,55227330.0,0.0,1.0
2023-04-18,415.580000,415.720000,412.780200,414.210000,414.210000,63559997.0,0.0,1.0
2023-04-17,412.370000,413.960000,411.085000,413.940000,413.940000,65496534.0,0.0,1.0
2023-04-14,412.810000,415.090000,410.060000,412.460000,412.460000,78161500.0,0.0,1.0
...,...,...,...,...,...,...,...,...
1999-11-05,138.625000,139.109299,136.781204,137.875000,89.722043,7431500.0,0.0,1.0
1999-11-04,136.750000,137.359299,135.765594,136.531204,88.847568,7907500.0,0.0,1.0
1999-11-03,136.000000,136.375000,135.125000,135.500000,88.176513,7222300.0,0.0,1.0
1999-11-02,135.968704,137.250000,134.593704,134.593704,87.586742,6516900.0,0.0,1.0
1999-11-01,136.500000,137.000000,135.562500,135.562500,88.217185,4006500.0,0.0,1.0

In [9]:

data = data.loc['2020-01-22':'2023-03-29']

In [10]:

data=data.iloc[:,1:3]

In [11]:
date=[]
for i in data.index:
  date.append(i)

In [12]:

data['date']=date

In [13]:
data['date']=data['date'].dt.strftime('%-m/%-d/%-y')

In [14]:
stock = data.reset_index(drop = True)

In [15]:
stock

     2. high  3. low     date
0     401.60  398.68  3/29/23
1     396.49  393.69  3/28/23
2     398.92  395.56  3/27/23
3     395.84  389.40  3/24/23
4     399.29  390.35  3/23/23
..       ...     ...      ...
798   327.85  323.60  1/28/20
799   325.12  322.66  1/27/20
800   332.53  327.36  1/24/20
801   332.17  329.41  1/23/20
802   332.95  331.17  1/22/20

[803 rows x 3 columns]